<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MovieExperienceConnection" connectionString="Server=DESKTOP-EQO14I4; Integrated Security=true; Database=MovieExperience" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>