@{
    ViewBag.Title = "About";
}
<strong>
    <body style="font-family:'Times New Roman';color:black;font-size: 17px;">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>
</body>
</strong>