@{
    ViewBag.Title = "My client";
}

@*<style>
body { background-image: url('https://i.pinimg.com/originals/b7/ff/e5/b7ffe556b5c07784ab6ee8e58ee08881.jpg'); }
</style>*@

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2 style="color: black;font-size: 50px;"><strong>Welcome to MisFerries</strong></h2>
        <p style="color:white;"><a class="btn btn-default" href="https://localhost:44314/Trip/ListOfTrips">Getting started &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44314/Home/About">Learn more about us &raquo;</a></p>
    </div>
    <div class="col-md-4">
    </div>
</div>
